<!-- Include this script tag or install `@tailwindplus/elements` via npm: -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script> -->
<div class="bg-gray-900">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav aria-label="Global" class="flex items-center justify-between p-6 lg:px-8">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">StockMate</span>
          <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="" class="h-8 w-auto" />
        </a>
      </div>
      <div class="flex lg:hidden">
        <button type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-200">
          <span class="sr-only">Open main menu</span>
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="#" class="text-sm/6 font-semibold text-white"><%= t('home.nav.product') %></a>
        <a href="#" class="text-sm/6 font-semibold text-white"><%= t('home.nav.features') %></a>
        <a href="#" class="text-sm/6 font-semibold text-white"><%= t('home.nav.marketplace') %></a>
        <a href="#" class="text-sm/6 font-semibold text-white"><%= t('home.nav.company') %></a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end lg:gap-x-6 lg:items-center">

        <!-- Language Switcher Dropdown for Desktop -->
        <div data-controller="dropdown" class="relative inline-block text-left">
          <div>
            <button
              type="button"
              data-action="dropdown#toggle click@window->dropdown#hide"
              class="inline-flex w-full justify-center gap-x-1.5 rounded-md px-3 py-2 text-sm font-semibold text-white ring-1 ring-white/5 hover:bg-white/10"
            >
              <%= I18n.locale == :hr ? '🇭🇷' : '🇭🇬🇧' %>
              <svg class="-mr-1 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>

          <div
            data-dropdown-target="menu"
            class="hidden absolute right-0 z-10 mt-2 w-auto origin-top-right rounded-md bg-gray-800 shadow-lg ring-1 ring-white/10 transition transform "
            data-transition-enter-from="opacity-0 scale-95"
            data-transition-enter-to="opacity-100 scale-100"
            data-transition-leave-from="opacity-100 scale-100"
            data-transition-leave-to="opacity-0 scale-95"
          >
            <div class="py-1" role="menu" aria-orientation="vertical">
              <%= link_to url_for(locale: :hr), class: "flex items-center px-4 py-2 text-sm text-gray-300 rounded-md hover:bg-white/5 hover:text-white #{'bg-white/10 text-white' if I18n.locale == :hr }", role:"menuitem", data: { action: "dropdown#toggle"} do %>
                🇭🇷 <%#= t('home.language.hr') %>
              <% end %>
                <%= link_to url_for(locale: :en), class: "flex items-center px-4 py-2 text-sm text-gray-300 hover:bg-white/5 hover:text-white #{'bg-white/10 text-white' if I18n.locale == :en}", role:"menuitem", data: { action: "dropdown#toggle"} do %>
                🇬🇧 <%#= t('home.language.en') %>
              <% end %>
            </div>
          </div>
        </div>

        <a href="#" class="text-sm/6 font-semibold text-white"><%= t('home.hero.log_in') %> <span aria-hidden="true">&rarr;</span></a>
      </div>
    </nav>

    <!-- Mobile menu dialog -->
    <el-dialog>
      <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
        <div tabindex="0" class="fixed inset-0 focus:outline-none">
          <el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-gray-900 p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-100/10">
            <div class="flex items-center justify-between">
              <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">StockMate</span>
                <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="" class="h-8 w-auto" />
              </a>
              <button type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-md p-2.5 text-gray-200">
                <span class="sr-only">Close menu</span>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                  <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </div>
            <div class="mt-6 flow-root">
              <div class="-my-6 divide-y divide-white/10">
                <div class="space-y-2 py-6">
                  <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-white/5"><%= t('home.nav.product') %></a>
                  <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-white/5"><%= t('home.nav.features') %></a>
                  <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-white/5"><%= t('home.nav.marketplace') %></a>
                  <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-white/5"><%= t('home.nav.company') %></a>
                </div>
                <div class="py-6">
                  <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-white hover:bg-white/5"><%= t('home.hero.log_in') %> &rarr;</a>

                  <!-- Language switcher for mobile -->
                  <div data-controller="dropdown" class="relative inline-block text-left px-3">
                    <button
                      type="button"
                      data-action="dropdown#toggle click@window->dropdown#hide"
                      class="inline-flex w-full justify-center gap-x-1.5 rounded-md px-3 py-2 text-sm font-semibold text-white ring-1 ring-white/5 hover:bg-white/5"
                    >
                      <%= I18n.locale == :hr ? '🇭🇷' : '🇬🇧' %>
                      <svg class="-mr-1 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                      </svg>
                    </button>

                    <div
                      data-dropdown-target="menu"
                      class="hidden absolute left-0 z-10 mt-2 w-auto origin-top-left rounded-md bg-gray-800 shadow-lg ring-1 ring-white/10 transition transform"
                      data-transition-enter-from="opacity-0 scale-95"
                      data-transition-enter-to="opacity-100 scale-100"
                      data-transition-leave-from="opacity-100 scale-100"
                      data-transition-leave-to="opacity-0 scale-95"
                    >

                    <div class="py-1" role="menu" aria-orientation="vertical">
                      <%= link_to url_for(locale: :hr), class: "flex items-center px-4 py-2 text-sm text-gray-300 hover:bg-white/5 hover:text-white #{'bg-white/10 text-white' if I18n.locale == :hr }", role: "menuitem", data: { action: "dropdown#toggle" } do %>
                        🇭🇷 <%# = t('home.language.hr') %>
                      <% end %>
                      <%= link_to url_for(locale: :en), class: "flex items-center px-4 py-2 text-sm text-gray-300 hover:bg-white/5 hover:text-white #{'bg-white/10 text-white' if I18n.locale == :en}", role: "menuitem", data: { action: "dropdown#toggle" } do %>
                        🇬🇧 <%#= t('home.language.en') %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </el-dialog-panel>
        </div>
      </dialog>
    </el-dialog>
  </header>

  <div class="relative isolate px-6 pt-14 lg:px-8">
    <!-- Background decorations -->
    <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
      <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-[calc(50%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 rotate-30 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-288.75"></div>
    </div>
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <div class="relative rounded-full px-3 py-1 text-sm/6 text-gray-400 ring-1 ring-white/10 hover:ring-white/20">
          <%= t('home.hero.announcement') %> <a href="#" class="font-semibold text-indigo-400"><span aria-hidden="true" class="absolute inset-0"></span><%= t('home.hero.read_more') %> <span aria-hidden="true">&rarr;</span></a>
        </div>
      </div>
      <div class="text-center">
        <h1 class="text-5xl font-semibold tracking-tight text-balance text-white sm:text-7xl"><%= t('home.hero.title') %></h1>
        <p class="mt-8 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8"><%= t('home.hero.subtitle') %></p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="#" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"><%= t('home.hero.get_started') %></a>
          <a href="#" class="text-sm/6 font-semibold text-white"><%= t('home.hero.learn_more') %><span aria-hidden="true">→</span></a>
        </div>
      </div>
    </div>
    <div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
      <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-[calc(50%+3rem)] aspect-1155/678 w-144.5 -translate-x-1/2 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-288.75"></div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="bg-gray-900 border-t border-gray-800">
  <div class="mx-auto max-w-7xl px-6 py-16 sm:py-20 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8">
        <img class="h-8" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="Stockmate">
        <p class="text-base leading-6 text-gray-400">Upravljanje zalihama za moderne tvrtke. Jednostavno, brzo i pouzdano.</p>
        <div class="flex space-x-6">
          <!-- Social Media Icons -->
          <a href="#" class="text-gray-500 hover:text-gray-400">
            <span class="sr-only">Facebook</span>
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" />
            </svg>
          </a>
          <a href="#" class="text-gray-500 hover:text-gray-400">
            <span class="sr-only">Instagram</span>
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path fill-rule="evenodd" d="M12.017 0C8.396 0 8.002.01 6.78.048 2.979.206 0 3.756 0 7.982 0 12.29 3.357 15.647 7.665 15.647c4.308 0 7.665-3.356 7.665-7.665C15.33 3.674 11.973.317 7.665.317zM12.017 24c-6.624 0-12.017-5.393-12.017-12.017S5.393-.017 12.017-.017s12.017 5.393 12.017 12.017S18.641 24 12.017 24zM8.667 12.017a3.35 3.35 0 1 0 6.7 0 3.35 3.35 0 0 0-6.7 0zm5.35-5.35a.783.783 0 1 0 1.566 0 .783.783 0 0 0-1.566 0z" clip-rule="evenodd" />
            </svg>
          </a>
          <a href="#" class="text-gray-500 hover:text-gray-400">
            <span class="sr-only">LinkedIn</span>
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-white"><%= t('home.footer.solutions') %></h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm leading-6 text-gray-400 hover:text-white"><%= t('home.footer.inventory_management') %></a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-400 hover:text-white"><%= t('home.footer.analytics') %></a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-400 hover:text-white"><%= t('home.footer.stores') %></a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-400 hover:text-white"><%= t('home.footer.reports') %></a>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm font-semibold leading-6 text-white"><%= t('home.footer.support') %></h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm leading-6 text-gray-400 hover:text-white"><%= t('home.footer.documentation') %></a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-400 hover:text-white"><%= t('home.footer.guides') %></a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-400 hover:text-white"><%= t('home.footer.api_status') %></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-white"><%= t('home.footer.company') %></h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm leading-6 text-gray-400 hover:text-white"><%= t('home.footer.about') %></a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-400 hover:text-white"><%= t('home.footer.blog') %></a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-400 hover:text-white"><%= t('home.footer.jobs') %></a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-400 hover:text-white"><%= t('home.footer.partners') %></a>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm font-semibold leading-6 text-white"><%= t('home.footer.legal') %></h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm leading-6 text-gray-400 hover:text-white"><%= t('home.footer.privacy') %></a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-400 hover:text-white"><%= t('home.footer.terms') %></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-16 border-t border-gray-800 pt-8 sm:mt-20 lg:mt-24">
      <p class="text-xs leading-5 text-gray-400"><%= t('home.footer.copyright') %></p>
    </div>
  </div>
</footer>